# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables (VERY IMPORTANT)
secrate.env
.env

# Django
db.sqlite3
/media/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/